<!DOCTYPE html>
<html>
  <head>
    <title>Desafio</title>
    <link rel='stylesheet' href='/styles/styles.css' />
  </head>
  <body>
    <div class="Container">
      <form class="Container__Form" enctype="multipart/form-data">
        <div class="Container__Group">
          <label for="file" class="Container__Label">
            carregue seu arquivo CNAB
          </label>
          <input type="file" id="file" class="Container__Input" />
        </div>
      </form>
    </div>
    <script src="/js/scripts.js"></script>
  </body>
</html>
